*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 20%;
    height: 430px;
    margin: 90px auto;
}
.container .part1{
    width: 100%;
    height: 15%;
    position: relative;

}
.container .part2{
    width: 96%;
    height: 8%;
    margin: auto;
    position: relative;

}
.container .part3{
    width: 100%;
    height: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5px;
}
.container .part3 button{
    width: 23%;
    height: 58px;
    border-radius: 100%;
    font-weight: 500;
    background-color: rgb(221, 238, 248);
    font-size: 20px;
    border: none;
}
.fa-xmark{
    position: absolute;
    top: -55%;
    right: 1%;
    font-size: 19px;
    color: rgb(125, 39, 11);
}
.same{
    color: rgb(20, 23, 123);

}
.fa-clock{
    position: absolute;
    top: -55%;
}
#header{
    color: rgb(40, 40, 79);
}
.container .part3 button:hover{
  cursor: pointer;
  background-color: rgb(141, 135, 135);
  transform: scale(0.9);
  transition: 1s;
  font-weight: 400;

}
#inpt{
    width: 80%;
    height: 40%;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 21px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
}
#inpt::-webkit-inner-spin-button, 
#inpt::-webkit-outer-spin-button {
  opacity: 0;
}
#inpt:focus{
    outline: none;
}
#header{
    position: absolute;
    right: 2%;
    top: 0;
}
#c{
    color: rgb(223, 73, 18);
    font-weight: 600;
}
.eyni{
    color: rgb(147, 47, 11);
    font-weight: 600;
}
